*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0f172a;
    padding:20px 60px;
}

.logo h2{
    color:white;
    font-size:28px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}